<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2O2UmAQ1uWaO48COlcYmmw3PraEl9lJg</string>
	<key>GCM_SENDER_ID</key>
	<string>208253993337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewRounds</string>
	<key>PROJECT_ID</key>
	<string>navigater-d4f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>navigater-d4f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208253993337:ios:220f3a3cbcc1cb0c46afa8</string>
</dict>
</plist>